/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/*01295f-437f97-849324-ffb30f-fd151b*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav {
  background-color: #437f97;
  font-family: 'Raleway', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', serif;
  color: #ffb30f;
}

.blue-text {
  color: #437f97 !important;
}

body {
  font-family: 'Helvetica', sans-serif;
}

footer.page-footer {
  background-color: #437f97;
}

a {
  color: #01295f;
}

a:hover {
  text-decoration: underline;
}
